html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 2em;
  color: rgba(255,255,255,.75);
  
  background-color: rgb(25,25,25);  
} 


  @keyframes typing {
    from { width: 100% }
    to { width: 0 }
    
} 

.container {
  position: relative;
  font-family: "courier", monospace;  
  top: 50%;  
  width: 60em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 150%;
  text-align: left;
  transform: translateY(-50%);    
  
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; 
  width:0; 
  background: rgb(25,25,25); 
  animation: typing 3s steps(523, end);
  animation-fill-mode: both;  
}
  
.hiders p:nth-child(2) {
  animation-delay: 3s;
}
.hiders p:nth-child(3) {
  animation-delay: 6s;
}
.hiders p:nth-child(4) {
  animation-delay: 9s;
}
.hiders p:nth-child(5) {
  animation-delay: 12s;
}

.hiders p:nth-child(6) {
    animation-delay: 15s;
  }
